<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .box{
            background-color: {{color}};
        }
    </style>
</head>
<body>
    <h1>Welcome</h1>
    <main class="boxes">
        {% for x in range(0, number): %}
        <div class="box"></div>
{% endfor %}

    </main>



</body>
</html>